In [7]:
import pandas as pd

In [8]:
import numpy as np

In [9]:
n = np.array(['v','i','v','e','k'])

In [10]:
s = pd.Series(n)

In [11]:
s

0    v
1    i
2    v
3    e
4    k
dtype: object

In [16]:
df = pd.DataFrame({"name":["amit","shani","awanish"],"age":[12,34,23]})

In [17]:
df

      name  age
0     amit   12
1    shani   34
2  awanish   23

In [18]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /home/admin01/anaconda3/lib/python3.9/site-packages (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in /home/admin01/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: scipy>=1.1.0 in /home/admin01/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/admin01/anaconda3/lib/python3.9/site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: joblib>=0.11 in /home/admin01/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.1.1)

In [19]:
from sklearn.datasets import load_iris

In [32]:
d=load_iris()

In [35]:
d.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [36]:
d.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [39]:
df=pd.DataFrame(d.data,columns=['feature1',"feature2","feature3","feature4"])

In [40]:
df['target']=d.target

In [41]:
df

     feature1  feature2  feature3  feature4  target
0         5.1       3.5       1.4       0.2       0
1         4.9       3.0       1.4       0.2       0
2         4.7       3.2       1.3       0.2       0
3         4.6       3.1       1.5       0.2       0
4         5.0       3.6       1.4       0.2       0
..        ...       ...       ...       ...     ...
145       6.7       3.0       5.2       2.3       2
146       6.3       2.5       5.0       1.9       2
147       6.5       3.0       5.2       2.0       2
148       6.2       3.4       5.4       2.3       2
149       5.9       3.0       5.1       1.8       2

[150 rows x 5 columns]

In [43]:
df["feature1"]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: feature1, Length: 150, dtype: float64

In [46]:
df.iloc[:,2:-1]

     feature3  feature4
0         1.4       0.2
1         1.4       0.2
2         1.3       0.2
3         1.5       0.2
4         1.4       0.2
..        ...       ...
145       5.2       2.3
146       5.0       1.9
147       5.2       2.0
148       5.4       2.3
149       5.1       1.8

[150 rows x 2 columns]