In [13]:
from pyspark.sql import SparkSession

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/09 17:31:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [15]:
spark = SparkSession.builder.getOrCreate()
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

In [21]:

columns = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)

In [23]:
df.printSchema()
df.show()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [27]:
df.count()
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [28]:
df.groupBy('salary').agg(countDistinct('gender').alias('F')).show()

+------+---+
|salary|  F|
+------+---+
|  4000|  2|
|  3000|  1|
|    -1|  1|
+------+---+

In [29]:
spark.version

'3.3.0'

In [45]:
from pyspark.sql import SQLContext
from pyspark import SparkConf, SparkContext
sc = SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

# Create the DataFrame
df = sqlContext.read.json('json_data.json')

In [44]:
df.show()

+-------------------+-----+-----------+-------+
|               City|State|ZipCodeType|Zipcode|
+-------------------+-----+-----------+-------+
|        PARC PARQUE|   PR|   STANDARD|    704|
|PASEO COSTA DEL SUR|   PR|   STANDARD|    704|
|       BDA SAN LUIS|   PR|   STANDARD|    709|
|  CINGULAR WIRELESS|   TX|     UNIQUE|  76166|
|         FORT WORTH|   TX|   STANDARD|  76177|
|           FT WORTH|   TX|   STANDARD|  76177|
|    URB EUGENE RICE|   PR|   STANDARD|    704|
|               MESA|   AZ|   STANDARD|  85209|
|               MESA|   AZ|   STANDARD|  85210|
|           HILLIARD|   FL|   STANDARD|  32046|
+-------------------+-----+-----------+-------+

In [46]:
df.select('city').show()

+-------------------+
|               city|
+-------------------+
|        PARC PARQUE|
|PASEO COSTA DEL SUR|
|       BDA SAN LUIS|
|  CINGULAR WIRELESS|
|         FORT WORTH|
|           FT WORTH|
|    URB EUGENE RICE|
|               MESA|
|               MESA|
|           HILLIARD|
+-------------------+

In [49]:
df.select(df['city'],df['Zipcode']+1).show()

+-------------------+-------------+
|               city|(Zipcode + 1)|
+-------------------+-------------+
|        PARC PARQUE|          705|
|PASEO COSTA DEL SUR|          705|
|       BDA SAN LUIS|          710|
|  CINGULAR WIRELESS|        76167|
|         FORT WORTH|        76178|
|           FT WORTH|        76178|
|    URB EUGENE RICE|          705|
|               MESA|        85210|
|               MESA|        85211|
|           HILLIARD|        32047|
+-------------------+-------------+

In [50]:
df.filter(df['Zipcode']>704).show()

+-----------------+-----+-----------+-------+
|             City|State|ZipCodeType|Zipcode|
+-----------------+-----+-----------+-------+
|     BDA SAN LUIS|   PR|   STANDARD|    709|
|CINGULAR WIRELESS|   TX|     UNIQUE|  76166|
|       FORT WORTH|   TX|   STANDARD|  76177|
|         FT WORTH|   TX|   STANDARD|  76177|
|             MESA|   AZ|   STANDARD|  85209|
|             MESA|   AZ|   STANDARD|  85210|
|         HILLIARD|   FL|   STANDARD|  32046|
+-----------------+-----+-----------+-------+

In [51]:
df.groupBy('city').count().show()

+-------------------+-----+
|               city|count|
+-------------------+-----+
|  CINGULAR WIRELESS|    1|
|        PARC PARQUE|    1|
|               MESA|    2|
|       BDA SAN LUIS|    1|
|           FT WORTH|    1|
|         FORT WORTH|    1|
|    URB EUGENE RICE|    1|
|PASEO COSTA DEL SUR|    1|
|           HILLIARD|    1|
+-------------------+-----+